In [1]:
import tensorflow as tf
import pandas as pd
import os
import numpy as np
import datetime as dt
from random import seed
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import backend as K
from tensorflow.keras.regularizers import l2
tf.compat.v1.experimental.output_all_intermediates(True)

In [2]:
seed(36)

In [3]:
BASE_DIR_PATH = '/Users/neilb/Documents/dsci_thesis/Datasets'
DATASET_FILE = os.path.join(BASE_DIR_PATH, 'compiled_data_2016_2017.csv')

In [4]:
df_2016_2017 = pd.read_csv(DATASET_FILE)
df_2016_2017

,Unnamed: 0,index,Rainfall_Aries,Rainfall_Boso,Rainfall_Campana,Rainfall_Nangka,Rainfall_Oro,Waterlevel_Sto_Nino,Waterlevel_Montalban,Discharge_Sto_Nino,Discharge_San_Jose,Cross_Section_Sto_Nino,Cross_Section_Montalban,Velocity_Sto_Nino,Velocity_Montalban,datetime,t,x
0,0,0,0,1,2,0,0,12.18,21.03,21.033407,14.842428,803.88,630.9,0.026165,0.023526,2016-01-01 00:00:00,0.0,14420
1,1,1,0,1,1,1,0,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 01:00:00,3600.0,14420
2,2,2,1,1,1,0,1,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 02:00:00,7200.0,14420
3,3,3,0,0,0,1,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 03:00:00,10800.0,14420
4,4,4,1,1,1,0,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 04:00:00,14400.0,14420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,17515,16059,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 19:00:00,63140400.0,14420
17516,17516,16424,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 20:00:00,63144000.0,14420
17517,17517,16789,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 21:00:00,63147600.0,14420
17518,17518,17154,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 22:00:00,63151200.0,14420
17519,17519,17519,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 23:00:00,63154800.0,14420

In [5]:
df_2016_2017['friction_coeff'] = [0.033 for i in range(len(df_2016_2017))]
df_2016_2017['slope'] = [1/1500 for i in range(len(df_2016_2017))]

df_2016_2017

,Unnamed: 0,index,Rainfall_Aries,Rainfall_Boso,Rainfall_Campana,Rainfall_Nangka,Rainfall_Oro,Waterlevel_Sto_Nino,Waterlevel_Montalban,Discharge_Sto_Nino,Discharge_San_Jose,Cross_Section_Sto_Nino,Cross_Section_Montalban,Velocity_Sto_Nino,Velocity_Montalban,datetime,t,x,friction_coeff,slope
0,0,0,0,1,2,0,0,12.18,21.03,21.033407,14.842428,803.88,630.9,0.026165,0.023526,2016-01-01 00:00:00,0.0,14420,0.033,0.000667
1,1,1,0,1,1,1,0,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 01:00:00,3600.0,14420,0.033,0.000667
2,2,2,1,1,1,0,1,12.19,21.03,21.280072,14.842428,804.54,630.9,0.026450,0.023526,2016-01-01 02:00:00,7200.0,14420,0.033,0.000667
3,3,3,0,0,0,1,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 03:00:00,10800.0,14420,0.033,0.000667
4,4,4,1,1,1,0,0,12.20,21.03,21.529056,14.842428,805.20,630.9,0.026738,0.023526,2016-01-01 04:00:00,14400.0,14420,0.033,0.000667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,17515,16059,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 19:00:00,63140400.0,14420,0.033,0.000667
17516,17516,16424,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 20:00:00,63144000.0,14420,0.033,0.000667
17517,17517,16789,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 21:00:00,63147600.0,14420,0.033,0.000667
17518,17518,17154,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 22:00:00,63151200.0,14420,0.033,0.000667
17519,17519,17519,0,0,0,0,0,12.44,21.18,28.244204,17.224575,821.04,635.4,0.034401,0.027108,2017-12-31 23:00:00,63154800.0,14420,0.033,0.000667

In [6]:
train_2016_2017 = df_2016_2017[:int(0.50*len(df_2016_2017))]
val_2016_2017 = df_2016_2017[int(0.50*len(df_2016_2017)):int(0.75*len(df_2016_2017))]
test_2016_2017 = df_2016_2017[int(0.75*len(df_2016_2017)):]

In [7]:
# all inputs
X_train_2016_2017 = np.array(train_2016_2017[['Rainfall_Aries', 'Rainfall_Boso', 'Rainfall_Campana', 'Rainfall_Nangka', 'Rainfall_Oro', 'x' ,'t', 'Discharge_Sto_Nino', 'friction_coeff', 'slope']].values.tolist())
X_val_2016_2017 = np.array(val_2016_2017[['Rainfall_Aries', 'Rainfall_Boso', 'Rainfall_Campana', 'Rainfall_Nangka', 'Rainfall_Oro', 'x','t', 'Discharge_Sto_Nino', 'friction_coeff', 'slope']].values.tolist())
X_test_2016_2017 = np.array(test_2016_2017[['Rainfall_Aries', 'Rainfall_Boso', 'Rainfall_Campana', 'Rainfall_Nangka', 'Rainfall_Oro', 'x','t', 'Discharge_Sto_Nino', 'friction_coeff', 'slope']].values.tolist())
Y_train_2016_2017 = np.array(train_2016_2017[['Velocity_Sto_Nino','Waterlevel_Sto_Nino']].values.tolist())
Y_val_2016_2017 = np.array(val_2016_2017[['Velocity_Sto_Nino','Waterlevel_Sto_Nino']].values.tolist())
Y_test_2016_2017 = np.array(test_2016_2017[['Velocity_Sto_Nino','Waterlevel_Sto_Nino']].values.tolist())

In [8]:
X_train_2016_2017.shape[1]

10

In [9]:
def r_square(y_true, y_pred):
    x = y_true
    y = y_pred
    mx = K.mean(x, axis=0)
    my = K.mean(y, axis=0)
    xm, ym = x - mx, y - my
    r_num = K.square(K.sum(xm * ym))
    x_square_sum = K.sum(xm * xm)
    y_square_sum = K.sum(ym * ym)
    r_den = (x_square_sum * y_square_sum) + K.epsilon()
    
    r = r_num / r_den
    return r

In [10]:
def NSE(y_true, y_pred):
    '''
    This is the Nash-Sutcliffe Efficiency Coefficient
    '''
    y_pred = K.flatten(y_pred)
    y_true = K.flatten(y_true)

    
    SS_res =  K.sum(K.square(y_true - y_pred)) 
    SS_tot = K.sum(K.square(y_true - K.mean(y_true))) 
    
    return ( 1 - SS_res/(SS_tot + K.epsilon()) )

In [11]:
def create_train_dnn_model(X_train, y_train, X_val, y_val, max_epochs=20, patience=2):
    # Create the model
    model = models.Sequential([
        layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        layers.Dense(64, activation='relu'),
        layers.Dense(64, activation='relu'),
        layers.Dense(2, activation='linear')  # 2 outputs: velocity and water level
    ])
    
    # Define early stopping callback
    early_stopping = tf.keras.callbacks.EarlyStopping(
        monitor='val_loss',
        patience=patience,
        mode='min'
    )
    
    # Compile the model
    model.compile(
        optimizer='adam',
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.MeanSquaredError(), NSE, r_square]
    )
    
    # Train the model
    history = model.fit(
        X_train, y_train,
        validation_data=(X_val, y_val),
        epochs=max_epochs,
        callbacks=[early_stopping]
    )
    
    return model, history

In [12]:
def create_train_cnn_model(X_train, y_train, X_val, y_val, max_epochs=20, patience=2):
    # Reshape input for 1D CNN
    X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
    X_val = X_val.reshape(X_val.shape[0], X_val.shape[1], 1)
    
    conv_model = tf.keras.Sequential([
        tf.keras.layers.Input(shape=(10, 1)),
        tf.keras.layers.Conv1D(filters=64, kernel_size=6, activation='relu'),
        tf.keras.layers.MaxPooling1D(pool_size=2),
        tf.keras.layers.Flatten(),
        tf.keras.layers.Dense(units=64, activation='relu'),
        tf.keras.layers.Dense(units=64, activation='relu'),
        tf.keras.layers.Dense(units=2)
    ])
    
    early_stopping = tf.keras.callbacks.EarlyStopping(
        monitor='val_loss',
        patience=patience,
        mode='min'
    )
    
    conv_model.compile(
        optimizer='adam',
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.MeanSquaredError(), NSE, r_square]
    )
    
    conv_history = conv_model.fit(
        X_train, y_train,
        validation_data=(X_val, y_val),
        epochs=max_epochs,
        callbacks=[early_stopping]
    )
    
    return conv_model, conv_history

In [13]:
# X_train_2016_2017[:5]

In [14]:
# X_train_2016_2017.shape

In [15]:
# X_train_reshaped = X_train_2016_2017.reshape(8760, 10, 1)
# X_train_reshaped[:5]

In [16]:
# X_train_reshaped[0].shape

In [17]:
def create_train_lstm_model(X_train, y_train, X_val, y_val, max_epochs=20, patience=2):
    if len(X_train.shape) == 2:
        X_train = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
    if len(X_val.shape) == 2:
        X_val = X_val.reshape((X_val.shape[0], 1, X_val.shape[1]))
            
    lstm_model = tf.keras.models.Sequential([
        tf.keras.layers.LSTM(64, input_shape=(X_train.shape[1], X_train.shape[2]), return_sequences=True),
        tf.keras.layers.Flatten(),  # Add Flatten layer to handle dimension mismatch
        tf.keras.layers.Dense(units=64, activation='relu'),
        tf.keras.layers.Dense(units=64, activation='relu'),
        tf.keras.layers.Dense(units=2)
    ])
    
    # Define early stopping callback
    early_stopping = tf.keras.callbacks.EarlyStopping(
        monitor='val_loss',
        patience=patience,
        mode='min'
    )
    
    # Compile the model
    lstm_model.compile(
        optimizer='adam',
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.MeanSquaredError(), NSE, r_square]
    )
    
    # Train the model
    lstm_history = lstm_model.fit(
        X_train, y_train,
        validation_data=(X_val, y_val),
        epochs=max_epochs,
        callbacks=[early_stopping]
    )
    
    return lstm_model, lstm_history

In [18]:
# X_train_lstm = X_train_2016_2017.reshape(8760, 1, 10)
# X_train_lstm[:5]

In [19]:
# X_train_lstm[0].shape

In [20]:
# X_train_lstm[0]

In [21]:
# lstm_layer = tf.keras.layers.LSTM(64, input_shape=(X_train_lstm.shape[1], X_train_lstm.shape[2]), return_sequences=True, return_state=True, kernel_regularizer=l2(0.01)),

In [22]:
# x, y, z = lstm_layer[0](X_train_lstm[:2])

In [23]:
# x

In [24]:
# y

In [25]:
dnn_model, dnn_history = create_train_dnn_model(
    X_train=X_train_2016_2017,
    y_train=Y_train_2016_2017,
    X_val=X_val_2016_2017,
    y_val=Y_val_2016_2017,
    max_epochs=20,
    patience=2
)

Epoch 1/20
274/274 [==============================] - 4s 9ms/step - loss: 12117285888.0000 - mean_squared_error: 12117285888.0000 - NSE: -319812032.0000 - r_square: 0.2615 - val_loss: 40733876.0000 - val_mean_squared_error: 40733876.0000 - val_NSE: -1152114.1250 - val_r_square: 0.0678
Epoch 2/20
274/274 [==============================] - 2s 7ms/step - loss: 1639248.1250 - mean_squared_error: 1639248.1250 - NSE: -42438.8867 - r_square: 0.3511 - val_loss: 1556833.5000 - val_mean_squared_error: 1556833.5000 - val_NSE: -44204.0273 - val_r_square: 0.1064
Epoch 3/20
274/274 [==============================] - 2s 6ms/step - loss: 590242.1250 - mean_squared_error: 590242.1250 - NSE: -15401.3066 - r_square: 0.3720 - val_loss: 2364234.2500 - val_mean_squared_error: 2364234.2500 - val_NSE: -67072.7500 - val_r_square: 0.1073
Epoch 4/20
274/274 [==============================] - 2s 6ms/step - loss: 5772216.0000 - mean_squared_error: 5772216.0000 - NSE: -151238.8906 - r_square: 0.3334 - val_loss: 2227459.0000 - val_mean_squared_error: 2227459.0000 - val_NSE: -63190.2773 - val_r_square: 0.1071

In [26]:
cnn_model, cnn_history = create_train_cnn_model(
    X_train=X_train_2016_2017,
    y_train=Y_train_2016_2017,
    X_val=X_val_2016_2017,
    y_val=Y_val_2016_2017,
    max_epochs=20,
    patience=2 )

Epoch 1/20
274/274 [==============================] - 4s 8ms/step - loss: 3773227008.0000 - mean_squared_error: 3773227008.0000 - NSE: -99777952.0000 - r_square: 0.1318 - val_loss: 66059.4531 - val_mean_squared_error: 66059.4531 - val_NSE: -1870.8795 - val_r_square: 0.0173
Epoch 2/20
274/274 [==============================] - 2s 7ms/step - loss: 65598.5781 - mean_squared_error: 65598.5781 - NSE: -1731.3235 - r_square: 0.0357 - val_loss: 141626.2500 - val_mean_squared_error: 141626.2500 - val_NSE: -3997.3855 - val_r_square: 0.0777
Epoch 3/20
274/274 [==============================] - 2s 6ms/step - loss: 8228639.5000 - mean_squared_error: 8228639.5000 - NSE: -214192.3281 - r_square: 0.0307 - val_loss: 946867.8125 - val_mean_squared_error: 946867.8125 - val_NSE: -26775.6680 - val_r_square: 0.0071

In [27]:
# Train the model
lstm_model, lstm_history = create_train_lstm_model(
    X_train=X_train_2016_2017,
    y_train=Y_train_2016_2017,
    X_val=X_val_2016_2017,
    y_val=Y_val_2016_2017,
    max_epochs=20,
    patience=2
)

Epoch 1/20
274/274 [==============================] - 7s 12ms/step - loss: 7.1450 - mean_squared_error: 7.1450 - NSE: 0.8147 - r_square: 0.0015 - val_loss: 0.2119 - val_mean_squared_error: 0.2119 - val_NSE: 0.9939 - val_r_square: 6.3258e-24
Epoch 2/20
274/274 [==============================] - 3s 9ms/step - loss: 0.2367 - mean_squared_error: 0.2367 - NSE: 0.9939 - r_square: 4.7369e-04 - val_loss: 0.1149 - val_mean_squared_error: 0.1149 - val_NSE: 0.9967 - val_r_square: 2.2351e-12
Epoch 3/20
274/274 [==============================] - 3s 9ms/step - loss: 0.2292 - mean_squared_error: 0.2292 - NSE: 0.9941 - r_square: 1.7967e-04 - val_loss: 0.1764 - val_mean_squared_error: 0.1764 - val_NSE: 0.9949 - val_r_square: 5.5997e-13
Epoch 4/20
274/274 [==============================] - 3s 10ms/step - loss: 0.2300 - mean_squared_error: 0.2300 - NSE: 0.9940 - r_square: 8.5764e-05 - val_loss: 0.1808 - val_mean_squared_error: 0.1808 - val_NSE: 0.9948 - val_r_square: 5.5984e-13

In [28]:
dnn_model.evaluate(X_test_2016_2017, Y_test_2016_2017)

137/137 [==============================] - 1s 5ms/step - loss: 6719243.5000 - mean_squared_error: 6719243.5000 - NSE: -169666.7969 - r_square: 0.4513

[6719243.5, 6719243.5, -169666.796875, 0.45131292939186096]

In [29]:
X_test_2016_2017 = X_test_2016_2017.reshape(X_test_2016_2017.shape[0], X_test_2016_2017.shape[1], 1)

cnn_model.evaluate(X_test_2016_2017, Y_test_2016_2017)

137/137 [==============================] - 0s 3ms/step - loss: 1988821.8750 - mean_squared_error: 1988821.8750 - NSE: -50249.8750 - r_square: 0.1025

[1988821.875, 1988821.875, -50249.875, 0.10245078802108765]

In [30]:
X_test_2016_2017 = np.array(test_2016_2017[['Rainfall_Aries', 'Rainfall_Boso', 'Rainfall_Campana', 'Rainfall_Nangka', 'Rainfall_Oro', 'x','t', 'Discharge_Sto_Nino', 'friction_coeff', 'slope']].values.tolist())
if len(X_test_2016_2017.shape) == 2:
    X_test_2016_2017 = X_test_2016_2017.reshape((X_test_2016_2017.shape[0], 1, X_test_2016_2017.shape[1]))
lstm_model.evaluate(X_test_2016_2017, Y_test_2016_2017)

137/137 [==============================] - 1s 3ms/step - loss: 0.1666 - mean_squared_error: 0.1666 - NSE: 0.9962 - r_square: 3.7165e-13

[0.16664068400859833,
 0.16664068400859833,
 0.996249258518219,
 3.7165406928212075e-13]

In [31]:
# LSTM predictions

lstm_predictions_without_window_all_variables = lstm_model.predict(X_test_2016_2017)

137/137 [==============================] - 1s 4ms/step

In [32]:
lstm_predictions_without_window_all_variables

array([[ 0.02953215, 12.492139  ],
       [ 0.02953215, 12.492139  ],
       [ 0.02953215, 12.492139  ],
       ...,
       [ 0.02953215, 12.492139  ],
       [ 0.02953215, 12.492139  ],
       [ 0.02953215, 12.492139  ]], dtype=float32)