In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import os

## Paths to Files

In [12]:
BASE_DIR_PATH = '/Users/neilb/Documents/dsci_thesis/'
DATA_PATH = 'Scraping_and_Cleaning'

In [13]:
DATASET_FILE = os.path.join(BASE_DIR_PATH, DATA_PATH, 'data_2022.csv')

## Load Dataset

In [15]:
df = pd.read_csv(DATASET_FILE)
df['datetime'] = pd.to_datetime(df['datetime']) # parsing column to datetime as it is read as string
df.head()

    datetime  water_level           station  1hr  3hr  6hr  12hr  24hr
0 2022-01-01        11.64  Airport (PAGASA)  0.0  0.0  0.0   0.0   0.0
1 2022-01-01        11.64          Antipolo  0.0  0.0  0.0   0.0   0.0
2 2022-01-01        11.64      Bagong Nayon  0.0  0.0  0.0   0.0   0.0
3 2022-01-01        11.64         Boso Boso  0.0  0.0  0.0   0.0   0.0
4 2022-01-01        11.64           Calawis  0.0  0.0  0.0   0.0   0.0

## Basic dataset information

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227786 entries, 0 to 227785
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   datetime     227786 non-null  datetime64[ns]
 1   water_level  227786 non-null  float64
 2   station      227786 non-null  object
 3   1hr          227786 non-null  float64
 4   3hr          227786 non-null  float64
 5   6hr          227786 non-null  float64
 6   12hr         227786 non-null  float64
 7   24hr         227786 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 13.9+ MB

In [17]:
df.describe()

,water_level,1hr,3hr,6hr,12hr,24hr
count,227786.000000,227786.000000,227786.000000,227786.000000,227786.000000,227786.000000
mean,11.822432,0.212392,0.637735,1.275366,2.550725,5.101611
std,0.714462,1.760464,3.715819,5.821120,9.058985,14.045297
min,10.980000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.280000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.590000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,12.240000,0.000000,0.000000,0.000000,0.000000,2.500000
max,18.500000,97.000000,161.500000,163.000000,163.000000,209.000000